<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <title>Insert title here</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/shoppingCart/show}">ShoppingCart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/employee/verify}">Verify</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/register}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/users/signOut}">Sign Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/photos/upload}">Upload</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>