<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>商城首頁</title>
</head>
<body style="height: 100%;">
<div th:replace="~{Layout/navbar}"></div>
<div class="container" style="padding: 20px;">
    <h1>首頁</h1>

    <th:block th:each=" product : ${verify}">

        <span class="card" style="position: relative; width: 18rem; margin: 20px; padding: 20px 20px 40px">
                <div class="card-body">
                    商品名 <span class="card-title" th:text="${product.productName}"></span>
                    <br>
                    賣家 <span class="card-text" th:text="${product.seller.sellerName}"></span>
                    <br>
                    商品上架時間 <span th:text="${#dates.format(product.listingDate, 'yyyy年MM月dd日 HH:mm:ss')}"></span>
                    <br>
                    商品狀態 <span th:text="${product.productStatus}"></span>
                    <br>
                    <a class="btn btn-primary" style="position: absolute; right: 20px;" th:href="@{/employee/verifyButton(productId=${product.productId})}">審核</a>
                    <br>
                </div>
            </span>

        <br>
    </th:block>

</div>
</body>
</html>