<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Code</title>
</head>
<body>
<h2>請輸入驗證碼</h2>
<p>我們已向您的郵箱 <strong th:text="${email}"></strong> 發送了驗證碼。請在下方輸入您收到的驗證碼：</p>

<form id="verifyCodeForm" action="/forgetPassword/verifyCode" method="post">
    <input type="hidden" id="email" name="email" th:value="${email}" />
    <div>
        <label for="verificationCode">驗證碼:</label>
        <input type="text" id="verificationCode" name="verificationCode" required>
    </div>
    <button type="submit">確認</button>
</form>
<div style="color: red;" th:text="${error}">
</div>
</body>
</html>